.row
  .col-xs-12
    - @post_assets.each_slice( 4 ) do |slice|
      .row
        - slice.each do |post_asset|
          .col-md-3
            %img.img-responsive{ src: post_asset.public_url }
            %code
              #{post_asset.public_url}
            %p
              = link_to "Destroy", [:admin, post_asset], method: :delete, data: { confirm: "Are you sure?" }
              
.row
  .col-xs-12
    = paginate @post_assets